@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Poppins-SemiBold.woff)
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.woff)
}
@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url(../fonts/Poppins-MediumItalic.woff)
}
body {
    margin: 0;
    padding: 0;
    background: darkslateblue;
    font-family: 'Poppins-Medium';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 65vh;
}
h1 {
    color: white;
    font-size: 4.3rem;
}
.content {
    background: snow;
    width: 560px;
    padding: 3.3rem;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}
input {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Poppins-Medium';
    border: 3px solid darkslateblue;
    width: 135px;
    height: 135px;
    border-radius: 7px;
    outline: none;
    color: darkslateblue;
}
input:focus {
    border: 5px solid darkslateblue;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    flex-wrap: wrap;
}
::placeholder {
    color: gray;
}
.content > p {
    font-size: 1.45rem;
    color: darkslateblue;
}